<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %>
<div class="main">  
    <div class="row">
    <div class="column">
        <h2>Cukiernia</h2>
        <p><b> Wstępny temat mojego projektu to aplikacja www realizująca działania internetowej cukierni w której będzie można skladać zamówienia na cukiernicze produkty np. lody, oraz znalezc opis cukierni wraz z pracownikami. </b></p>
    </div>
    <div class="column">
            <h2>Cukiernia</h2>
            <p><b> Wstępny temat mojego projektu to aplikacja www realizująca działania internetowej cukierni w której będzie można skladać zamówienia na cukiernicze produkty np. lody, oraz znalezc opis cukierni wraz z pracownikami. </b></p>
        </div>
        <div class="column">
                <h2>Cukiernia</h2>
                <p><b> Wstępny temat mojego projektu to aplikacja www realizująca działania internetowej cukierni w której będzie można skladać zamówienia na cukiernicze produkty np. lody, oraz znalezc opis cukierni wraz z pracownikami. </b></p>
         </div>
        </div>

            <% for (let smak of smaki) { %>
                
            <article class="Lody-element">
                <header class="lody-nag">
                    <h4 class="nazwa-lodu"><%= smak.smak %></h4>
                </header>
                <div class="lod-cena">
                    <h5 class="cena"><%= smak.cena %></h5>
                </div>
                <div class="lod-waga">
                  <h5 class="waga"><%= smak.waga %></h5>
              </div>
              <div class="lod-waznosci">
                <h5 class="waga"><%= smak.dataWaznosci %></h5>
            </div>
            <div class="cukiernik-cena">
                <h4 class="cena"><%= smak.FK_idCukiernik %></h5>
            </div>
                <div class="lod-dodawanie">
                    <button class="btn">Wybierz</button>
                </div>
            </article>
            <% } %>
         
            
           
        </div> 

      </div>
<h2>Lista numerowana</h2>
<ol>
<li>Pierwszy</li>
<li>Drugi</li>
<li>Trzeci</li>
<li>Czwarty</li>
</ol>
</div> 
<%- include('partials/footer') %>
</body>
</html>